<!-- Craig Tomkow -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Cache-control" content="no-cache">
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style-v0.0.1.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="map"></div>
    </body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script-v0.0.22.js') }}"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{map_key}}&libraries=visualization&callback=initMap">
    </script>
</html>